<div class="container-fluid bg-custom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 mx-auto p-2 d-flex _logbox">
        <div class="box">
          <h1 class="display-6 fw-bold text-center mb-1 heading">Add A Product</h1>
          <div style="border-bottom: 5px solid #FFE01D; width: 230px; margin: 0 auto;"></div>

          <div class="w-80">
            <p class="text-dark fs-6 fw-bold text-center mt-4 mb-4 HeroNew">
              Add price, name of product, shipping timeframe, category, subscription options and any applicable
              variations
              like size or color (if for example it's apparel.
            </p>
          </div>



          <div class="form-group">
            <label>Product Price*</label>
            <input type="text" [(ngModel)]="price" class="form-control" placeholder="*Product Price">
          </div>

          <div class="form-group">
            <label>Product Name*</label>
            <input type="text" [(ngModel)]="name" class="form-control" placeholder="*Product Name">
          </div>

          <div class="form-group">
            <label>Shipping Time*</label>
            <input type="text" [(ngModel)]="shipping_time" class="form-control"
              placeholder="*Shipping Time (how soon after order is placed will it ship out).">
          </div>

          <div class="form-group">
            <label>Shipping Cost*</label>
            <input type="text" [(ngModel)]="shipping_cost" class="form-control" placeholder="*Shipping Cost eg. 20">
            <small class="fw-bold">
              Set your shipping cost in USD. Eg. 20. Default value is 0 = Free.
            </small>
          </div>

          <!-- <div class="form-group">
            <label></label>
            <select [(ngModel)]="cate" class="form-control">
              <option selected value="">*Product Category</option>
              <option value="1">cate 1</option>
            </select>
          </div>

          <div class="form-group">
            <label></label>
            <select [(ngModel)]="subcate" class="form-control">
              <option selected value="">*Product Sub Category</option>
              <option value="1">sub 1</option>
            </select>
          </div> -->

          <div class="form-group">
            <label></label>
            <textarea [(ngModel)]="desc" class="form-control" placeholder="*Product Description" rows="6"></textarea>
          </div>

          <!-- <div class="form-group">
            <label></label>
            <input type="text" [(ngModel)]="ship_interval" class="form-control"
              placeholder="Subscription Option: Type in the shipping interval">
          </div>

          <div class="form-group">
            <label></label>
            <input type="text" [(ngModel)]="type_discount" class="form-control"
              placeholder="Subscription Option: Type in the discount">
          </div> -->

          <div class="form-group">
            <label>Inventory*</label>
            <input type="text" [(ngModel)]="inventory" class="form-control"
              placeholder="*Inventory (number of units available)">
          </div>

          <!-- <hr />

          <button (click)="fileInputMain.click()" type="button" class="img_btn">&nbsp; *Upload Product Photo</button>
          <input #fileInputMain type="file" hidden (change)="doFileInput($event)">

          <button (click)="upload()" type="button" class="btn btn-warning btn-lg mt-3"> Add Another</button> -->

          <hr />

          <div class="form-group">
            <label>Discount*</label>
            <input type="text" [(ngModel)]="disc_percentage" class="form-control" placeholder="Discount Percentage">
          </div>

          <!-- <div class="form-group">
            <label></label>
            <input type="date" [(ngModel)]="end_date_disc" class="form-control" placeholder="End Date Of Discount">
          </div> -->


          <div class="form-group">
            <label></label>
            <textarea [(ngModel)]="imp_details" class="form-control" placeholder="Important Details"
              rows="6"></textarea>
          </div>

          <div class="form-check mt-3">
            <input value="1" class="form-check-input" type="checkbox" [(ngModel)]="excl_discount" role="switch"
              id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Exclusive Discount On Good Yellow?</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" [(ngModel)]="excl_prod" role="switch"
              id="flexSwitchCheckChecked">
            <label class="form-check-label" for="flexSwitchCheckChecked">Exclusive Product On Good Yellow?</label>
          </div>


          <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            <!-- <button [disabled]="disabled" type="button" class="btn btn-warning btn-lg"> Save and Come Back</button> -->
            <button [disabled]="disabled" (click)="publish()" type="button" class="btn btn-warning btn-lg">
              Next</button>
          </div>

          <div class="mt-3 error" *ngIf="validError">
            <ul>
              <li *ngIf="validPrice">{{ validPrice[0] }}</li>
              <li *ngIf="validName">{{ validName[0] }}</li>
              <li *ngIf="validshipping_time">{{ validshipping_time[0] }}</li>
              <li *ngIf="validcate">{{ validcate[0] }}</li>
              <li *ngIf="validsubcate">{{ validsubcate[0] }}</li>
              <li *ngIf="validdesc">{{ validdesc[0] }}</li>
              <li *ngIf="validinventory">{{ validinventory[0] }}</li>
              <li *ngIf="validshipping_cost">{{ validshipping_cost[0] }}</li>

            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
