<div class="container-fluid bg-custom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 mx-auto p-2 d-flex _logbox">
        <div class="box">


          <h1 class="display-6 fw-bold text-center mb-1 heading">Does Good Yellow market to consumers?
          </h1>
          <div style="border-bottom: 5px solid #FFE01D; width: 100%; margin: 0 auto;"></div>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Since we don’t charge a transaction fee for Partners, we will not be actively promoting Good Yellow to
            consumers in order to get them to come to Good Yellow and become Members. We will only be promoting Good
            Yellow to small businesses. It is exclusively up to the Partners to promote their Good Yellow storefront,
            specifically to their existing customers. We have over 300 small businesses (primarily that make and sell
            products that are good for the planet and good for people) who will be signing in in August 2022 and will be
            bringing their existing customers to Good Yellow. So you will have the chance of those consumers becoming
            your customers.
          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6" style="font-family: HeroNewExtraBlack !important;">
            Thank you for taking the time to read this very important information. You can now start to create your Good
            Yellow account and storefront.

          </p>


          <p>&nbsp;</p>

          <div class="d-grid gap-2 mx-auto col-2">
            <a routerLink="/vendor/signup/sixth" class="btn btn-warning fw-bold">Next</a>
          </div>

          <p>&nbsp;</p>

        </div>


      </div>
    </div>
  </div>
</div>
