<div class="container-fluid bg-custom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 mx-auto p-2 d-flex _logbox">
        <div class="box">


          <h1 class="display-6 fw-bold text-center mb-1 heading">Does Good Yellow market to consumers?
          </h1>
          <div style="border-bottom: 5px solid #FFE01D; width: 100%; margin: 0 auto;"></div>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Yes we partner with social media influencers to promote Good Yellow as a whole. While we don’t promote
            individual Storefronts. All the while we still charge ZERO transaction and ZERO listing fees.

          </p>




          <p>&nbsp;</p>

          <div class="d-grid gap-2 mx-auto col-2">
            <a routerLink="/vendor/signup/sixth" class="btn btn-warning fw-bold">Next</a>
          </div>

          <p>&nbsp;</p>

        </div>


      </div>
    </div>
  </div>
</div>
