<div class="container-fluid bg-custom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 mx-auto p-2 d-flex _logbox">
        <div class="box">


          <h1 class="display-6 fw-bold text-center mb-1 heading">How will the revenue share work?
          </h1>
          <div style="border-bottom: 5px solid #FFE01D; width: 100%; margin: 0 auto;"></div>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Each Partner will receive a promo code that their existing customers will have to type in when they sign up
            in order for them to get the discounted membership price. We will also use that promo code to know that a
            particular Partner signed up a customer. This way we can split the monthly or yearly membership fee with the
            Partner.

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6" style="font-family: HeroNewExtraBlack !important;">
            Every month on the last business day, we will send each Partner the revenue share for the previous 30 or 31
            days via direct deposit.


          </p>


          <p>&nbsp;</p>

          <div class="d-grid gap-2 mx-auto col-2">
            <!-- <a routerLink="/create-vendor-account" class="btn btn-warning fw-bold">Next</a> -->
            <a routerLink="/vendor/signup/seventh" class="btn btn-warning fw-bold">Next</a>
          </div>

          <p>&nbsp;</p>

        </div>


      </div>
    </div>
  </div>
</div>
