<div class="container-fluid bg-custom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 mx-auto p-2 d-flex _logbox">
        <div class="box">


          <h1 class="display-6 fw-bold text-center mb-1 heading">Minimum required high discounts & minimum regular
            discounts.
          </h1>
          <div style="border-bottom: 5px solid #FFE01D; width: 100%; margin: 0 auto;"></div>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            “Exclusive Good Yellow Discount” will be displayed on all product pages next to Products and Discount Codes.
            Please make sure not to offer the same discount on your website.
          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6" style="font-family: HeroNewExtraBlack !important;">
            Each product and discount code must at all times have at least a 5% discount associated with it.

          </p>

          <h1 class="fs-5 fw-bold text-center mb-1 heading">HIGHER REQUIRED DISCOUNTS

          </h1>

          <p class=" mt-4 mb-4 fs-6">
            Each Partner will be required to have these weekly higher minimum discounts for a minimum number of units,
            storefront wide or combined across all of your Products and/or Discount Codes.

          </p>

          <p class=" fw-bold mt-4 mb-4 fs-6">
            Meaning these requirements ARE NOT for each individual Product or each individual Discount Code but combined
            across your entire Storefront.

          </p>

          <p class=" fw-bold mt-4 mb-4 fs-6">
            <strong>NOTE:</strong> Free trial Members will only be able to buy products or request Discount codes for up
            to 30% off. In
            order for Members to take advantage of the discounts for more than 30% they must become paid members at the
            new annual Membership cost of $39 per year.
          </p>

          <p class=" fw-bold mt-4 mb-4 fs-6">
            These weekly minimums will start on August 30 and renew each Tuesday.
          </p>

          <p class="font_family fw-bold mt-4 mb-4 fs-6">
            Minimum of 5 units for at least 50% off each week.
          </p>

          <p class="font_family fw-bold mt-4 mb-4 fs-6">
            Minimum of 3 units for at least 65% off each week.
          </p>


          <p class="font_family fw-bold mt-4 mb-4 fs-6">
            Minimum of 1 unit for at least 80% off each week.
          </p>

          <p>&nbsp;</p>

          <div class="d-grid gap-2 mx-auto col-2">
            <a routerLink="/create-vendor-account" class="btn btn-warning fw-bold">Next</a>

          </div>

          <p>&nbsp;</p>

        </div>


      </div>
    </div>
  </div>
</div>
