<div class="container mt-5 mb-5">

  <div class="row">
    <div class="col-md-8">
      <h1 class="display-6 fw-bold mb-1 heading">Show Me Brands That...</h1>
      <div style="border-bottom: 8px solid #FFE01D; width: 60%;"></div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4 mt-4">
        <a routerLink="/discover/brands/level/one/1/brands" class="btn btn-warning btn-lgg">Sell Awesome Products</a>
      </div>
      <div class="col-md-4 mt-4">
        <a routerLink="/discover/brands/level/one/4/people" class="btn btn-warning btn-lgg">Are Good For People</a>
      </div>
      <div class="col-md-8 mt-4">
        <a routerLink="/discover/brands/level/one/3/planets" class="btn btn-warning btn-lgg">Sell Products That Are Good
          For The Planet</a>
      </div>
      <div class="col-md-8 mt-4">
        <a routerLink="/discover/brands/level/one/2/causes" class="btn btn-warning btn-lgg">Donate Time Or Money To
          Causes</a>
      </div>
    </div>
  </div>

</div>
