<div class="container-fluid bg-custom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 mx-auto p-2 d-flex _logbox">
        <div class="box">


          <h1 class="display-6 fw-bold text-center mb-1 heading">What are Leaderboards & Leaderboard Lists?</h1>
          <div style="border-bottom: 5px solid #FFE01D; width: 100%; margin: 0 auto;"></div>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Leaderboards are just like they sound, they are a display of Brands (Partners) on Good Yellow within 4
            categories (Brands, Causes, Good For The Planet and Good For People), organized by most to least total sales
            (Brand-wide). We display how many total sales each Brand has and also display the number of total different
            customers that each Brand has had on Good Yellow!

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            The best part about Leaderboards (and we are the only ecommerice place online that does this) is that you,
            the Brand, get to create the name/title for the Leaderboard. This enables Brands to be SUPER creative in
            creating a Leaderboard title that will instantly grab the attention of browsing consumers and Members. Think
            of the Leaderboard title as an advertisement towards your target audience. Leaderboard titles enable
            consumers and Members to find MUCH more specific and tailored categories that are super relevant to them and
            what they’re looking for in a Brand or product. It allows them to find Brands or products based on specific
            attributes they are looking for in a Brand or product rather than just a general product category or general
            type of product.

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            For example, this could be a title for a Leaderboard, “women-owned grass-fed beef jerky startup based in
            Denver, Colorado”. Unlike other ecommerce sites where they will just have a category for Snacks or Organic,
            or Women-Owned. Our concept allows Brands to combine all of those elements and create a Leaderboard that
            will be way more specific in catering towards a more niche audience. A more niche audience will be more
            loyal in much more closely checking out each Brand that is in this Leaderboard. All Brands that are relevant
            to this Leaderboard title can add themselves to that saw Leaderboard.

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Another example for a Leaderboard title, “Our nut butters have 17g or more of protein in a serving”.

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Another example for a Leaderboard title, “We donate at least 3% of our net profits to No Kid Hungry”.

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Another example for a Leaderboard title, “Our business has decreased our carbon footprint by over 40% in the
            last year”.

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Leaderboards will not have any filters or sorting options or even search capabilities for consumers or
            Members. This way if your Brand is towards the top or at the top of a Leaderboard, you have an INCREDIBLY
            high chance of being seen by consumers or Members because if they want to discover a brand within this
            Leaderboard where the title greatly appeals to them, they will have to look at your brand when discovering.
            And because we display the total number of Brand-wide sales, the consumer and Members will naturally look at
            the first brand on a Leaderboard, then the second, then the third, etc.

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            There are NO LIMITS to how many Leaderboards a Brand can create. The more Leaderboards your Brand is in,
            especially towards the top or at the top, the higher chance you have of continually being seen by consumers
            or Members.
          </p>

          <p>&nbsp;</p>

          <div class="d-grid gap-2 mx-auto col-2">
            <a routerLink="/vendor/signup/three" class="btn btn-warning fw-bold">Next</a>
          </div>

          <p>&nbsp;</p>




        </div>


      </div>
    </div>
  </div>
</div>
