<div class="container-fluid bg-custom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 mx-auto p-2 d-flex _logbox">
        <div class="box">


          <h1 class="display-6 fw-bold text-center mb-1 heading">Welcome To Good Yellow!</h1>
          <div style="border-bottom: 5px solid #FFE01D; width: 360px; margin: 0 auto;"></div>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Congrats on signing up as a Partner on Good Yellow. Good Yellow is a first of its kind marketplace. This is
            where you will create your Good Yellow account and storefront. Please be aware that this process will take a
            little bit of time but you can stop and come back to anything that you’ve saved.

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Before you start, please take time to read the VERY important information in the next 5 pages before you
            start creating your account and storefront.

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            We have over 300 small business Brands that have signed up for Good Yellow and will be working towards
            climbing the Leaderboards and Leaderboard Lists (more on this below).

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            For small businesses the benefit of partnering with Good Yellow is on four levels. First, we charge ZERO
            transaction fees, ZERO listing fees and we require ZERO revenue share from the cost that customers are
            paying for their orders to Partners. This will save small businesses thousands of dollars or more per year.

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Second, we have a one-of-a-kind Leaderboard and Leaderboard List concept which will enable small businesses
            to gain visibility amongst consumers and our Members like never before. No other ecommerce place online
            offers anything like our Leaderboard and Leaderboard Lists concept which provides small businesses with
            benefits that they won’t get on any other marketplace or ecommerce place online.

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Third, your customers remain your customers, you communicate directly with your customers, they order
            directly from you, they pay you directly and even on their credit card statements, they will see your
            Brand’s name.

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Finally, we will have a 70/30 revenue share with our Partners from the small monthly or annual membership
            fee that our Members will be paying in order to shop on Good Yellow. 70% will go to our Partners (more on
            this in later pages).

          </p>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6" style="font-family: HeroNewExtraBlack !important;">
            The first Partner to have 100 different customers checkout from their Good Yellow storefront will win
            $100,000!!!

          </p>

          <p>&nbsp;</p>

          <div class="d-grid gap-2 mx-auto col-2">
            <a routerLink="/vendor/signup/second" class="btn btn-warning fw-bold">Next</a>
          </div>

          <p>&nbsp;</p>




        </div>


      </div>
    </div>
  </div>
</div>
