<div class="container-fluid bg-custom">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto p-2 d-flex _logbox mt-4">

        <div class="box text-center">
          <h1 class="display-6 fw-bold text-center mb-1 heading">My Account</h1>
          <div style="border-bottom: 5px solid #FFE01D; width: 180px; margin: 0 auto;"></div>

          <!-- <div class="w-80">
            <h4 class="text-dark fs-6 fw-bold text-center mt-4 HeroNew">
              On Good Yellow, You are paying Brands directly as if you're checking out from their own website.
            </h4>

            <h4 class="text-dark fs-6 fw-bold text-center mt-1 HeroNew">
              This is why we will need to checkout individually for each Brand.
            </h4>
        </div> -->

          <div class="mt-5 d-grid gap-2 mx-auto col-5">
            <a class="btn btn-warning btn-lg" routerLink="/u/change/password">Change Password</a>
            <a class="btn btn-warning btn-lg mt-3" routerLink="/u/change/membership/details">Change Membership
              Details</a>
            <a class="btn btn-warning btn-lg mt-3" routerLink="/u/my/orders">My Order History</a>
          </div>








        </div>
      </div>
    </div>
