<div class="container-fluid hero" *ngIf="!bid">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h1 class="heading">
          Buy products or get promo codes for great discounts directly from small businesses themselves.
        </h1>
        <!-- <h4 class="mt-4">We're launching in August 2022</h4> -->

        <div class="mt-3 flex">
          <a routerLink="/partners" class="btn btn-sky btn-lg">Sign Up As A Brand</a>
          <a routerLink="/u/signup" class="btn btn-sky btn-lg">Start your $9/mo membership</a>
        </div>
      </div>


    </div>
  </div>
</div>


<div class="container hero_sec">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h2 class="heading">Let's discover Brands that...</h2>
      <div style="border-bottom: 8px solid #FFE01D; width: 80%;"></div>


      <div class="row mt-4">
        <div class="col-md-4 mt-4">
          <a routerLink="/discount/list" class="btn btn-warning btn-lgg">Have Great Discounts</a>
        </div>
        <div class="col-md-4 mt-4">
          <a routerLink="/discover/brands/level/one/4/people" class="btn btn-warning btn-lgg">Are Great For People</a>
        </div>
        <div class="col-md-4 mt-4">
          <a routerLink="/discover/brands/level/one/3/planets" class="btn btn-warning btn-lgg">Are Good For The
            Planet</a>
        </div>
        <div class="col-md-4 mt-4">
          <a routerLink="/discover/brands/level/one/2/causes" class="btn btn-warning btn-lgg">Donate Money or Time To
            Causes</a>
        </div>

      </div>





    </div>
  </div>
</div>
