<div class="container-fluid bg-custom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 mx-auto p-2 d-flex _logbox">
        <div class="box">

          <h1 class="display-6 fw-bold text-center mb-1 heading">The FAQs</h1>
          <div style="border-bottom: 5px solid #FFE01D; width: 140px; margin: 0 auto;"></div>


          <div class="row mt-5">
            <div class="col-md-12" *ngFor="let item of data">
              <h4>Q. {{ item.question }}</h4>
              <p>A. {{ item.answer }}</p>
            </div>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a routerLink="/vendor-storefront" class="btn btn-warning me-md-2" type="button">Return To Storefront</a>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
