<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h4 class="fw-bold">
          <img src="../../../assets/logo.png" style="width: 60%;">
        </h4>
      </div>
      <div class="col-3">
        <h4>Good Yellow</h4>
        <ul>

          <li>

            <a routerLink="/all/brands" class="nav-link">Storefronts</a>
          </li>

          <li>
            <a routerLink="/vendor/signup/first">Signup As A Partner</a>

            <a routerLink="/partners">Signup As A Partner</a>

          </li>

          <li>
            <a routerLink="/support">Support</a>
          </li>

        </ul>
      </div>
      <div class="col-3">
        <h4>Let's Connect</h4>
        <ul>
          <li>
            <a href="mailto:Heyhey@goodyellowco.com">Email Us</a>
          </li>
          <li>
            <a href="">Instagram</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <h4>Legal Stuff</h4>
        <ul>
          <li>
            <a href="">Terms</a>
          </li>
          <li>
            <a href="">Privacy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
