<div class="container-fluid bg-custom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 mx-auto p-2 d-flex _logbox">
        <div class="box">



          <h1 class="display-6 fw-bold text-center mb-1 heading">Your Orders</h1>
          <div style="border-bottom: 5px solid #FFE01D; width: 180px; margin: 0 auto;"></div>

          <div class="w-80">
            <p class="text-dark fs-6 fw-bold text-center mt-4 HeroNew">
              Here you can see the list of outstanding orders, shipped orders and canceled orders.
            </p>
          </div>


          <div class="mt-5">
            <h2 class="fw-bold fs-4 heading">Outstanding Orders</h2>
            <div class="devider-left"></div>
            <h4 class="fs-5 mt-3"><a class="btn btn-link text-dark text-decoration-none" href="">No orders found.</a>
            </h4>
          </div>

          <div class="mt-5">
            <h2 class="fw-bold fs-4 heading">Shipped Orders</h2>
            <div class="devider-left"></div>
            <h4 class="fs-5 mt-3"><a class="btn btn-link text-dark text-decoration-none" href="">No orders found.</a>
            </h4>
          </div>

          <div class="mt-5">
            <h2 class="fw-bold fs-4 heading">Cancelled Orders</h2>
            <div class="devider-left"></div>
            <h4 class="fs-5 mt-3"><a class="btn btn-link text-dark text-decoration-none" href="">No orders found.</a>
            </h4>
          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="d-grid gap-2">
                <a routerLink="/vendor-storefront" class="btn btn-warning mt-3 btn-lg">Return To Storefront</a>
              </div>
            </div>
          </div>





        </div>


      </div>
    </div>
  </div>
</div>
