ul li {
  background: #fff;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 3px solid #222;
}

ul li a {
  max-width: 220px;
}


@media only screen and (min-width: 120px) and (max-width: 1300px) {

  ul li {
    flex-direction: column;
  }

}
