<div class="container-fluid bg-custom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 mx-auto p-2 d-flex _logbox">
        <div class="boxx mt-4">


          <p class="fw-bold mt-5 fs-5" *ngIf="loading">Loading...</p>

          <ul class="mt-4 text-left" *ngIf="discounts && discounts.length > 0">
            <li *ngFor="let item of discounts" class="text-left mb-2">
              <a style="text-align: left;" class="text-left btn btn-link text-dark text-decoration-none"
                routerLink="/leaderboard/brands/list/{{ item.slug }}">{{ item.lb_three_name }}</a>
            </li>
          </ul>

          <p class="fw-bold mt-5 fs-5" *ngIf="!loading && discounts && discounts.length == 0">
            Sorry No data Found.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
