<div class="container-fluid bg-custom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 mx-auto p-2 d-flex _logbox">
        <div class="box">


          <h1 class="display-6 fw-bold text-center mb-1 heading">How do Leaderboard Lists work?</h1>
          <div style="border-bottom: 5px solid #FFE01D; width: 80%; margin: 0 auto;"></div>

          <p class="HeroNew fw-bold mt-4 mb-4 fs-6">
            Think of Leaderboard Lists as a way to organize commonly titled Leaderboards or even a collection of other
            Leaderboard Lists on one page. Leaderboard Lists will simply have the title of that Leaderboard or another
            Leaderboard List organized on one page by the total number of sales amongst the Brands within that
            Leaderboard or Leaderboard Lists. So again, the more Leaderboard Lists your Brand is on, the higher chances
            of continual visibility your Brand will have.

          </p>





          <p>&nbsp;</p>

          <div class="d-grid gap-2 mx-auto col-2">
            <a routerLink="/vendor/signup/fourth" class="btn btn-warning fw-bold">Next</a>
          </div>

          <p>&nbsp;</p>




        </div>


      </div>
    </div>
  </div>
</div>
