/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: HeroNew;
  src: url("./assets/fonts/Hero\ New\ Regular.otf") format("opentype");
}

@font-face {
  font-family: HeroNewExtraBlack;
  src: url("./assets/fonts/Hero\ New\ ExtraBold.otf") format("opentype");
}


html,
body {
  height: 100%;

}

body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  // position: relative;
  font-family: HeroNew !important;
}

.font_family {
  font-family: HeroNewExtraBlack;
}

a {
  cursor: pointer;
}

.discount-light-green {
  background-color: #F2F9DC !important;
  color: #ccc !important;
  font-weight: bold;
  padding: 16px;
  font-size: 14px;
  text-align: center;

}

.discount-light-green-second {
  background-color: #D8F9C0 !important;
  color: #ffffff !important;
  font-weight: bold;
  padding: 14px;
  font-size: 22px;
  text-align: center;

}

.discount-dark-green-second {
  background-color: #AEF942 !important;
  color: #ffffff !important;
  font-weight: bold;
  padding: 14px;
  font-size: 22px;
  text-align: center;

}

.discount-dark-green {
  background-color: #296603 !important;
  color: #ffffff !important;
  font-weight: bold;
  padding: 14px;
  font-size: 22px;
  text-align: center;

}

.discount-dark-green-level {
  background-color: #317003 !important;
  color: #ffffff !important;
  font-weight: bold;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  // width: 100px;

}

.discount-dark-green-second-level {
  background-color: #64d513 !important;
  color: #ffffff !important;
  font-weight: bold;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  // width: 100px;


}

.discount-light-green-second-level {
  background-color: #9bdf6a !important;
  color: #ffffff !important;
  font-weight: bold;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  // width: 100px;


}

.discount-light-green-level {
  background-color: #daef99 !important;
  color: #ffffff !important;
  font-weight: bold;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  // width: 100px;


}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}


.loading {
  position: absolute;
  top: -2px;
  z-index: 1000;
  margin-left: 50%;
  // margin-right: 50%;
}
